body {
	background-color: #777;
}

#Container {
	width:960px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1px;
	text-align: center;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: grey;


}

header
{
	background-color: #ebebeb;
	height: 50px;
	width: auto;
	margin:0 auto;
	padding-top: 50px;

}
nav
 {
 	background-color: #ebebeb;
	height: 50px;
	width: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 50px;
}


aside{
	background-color:#ebebeb;
	height: 350px;
	width: 400px;
	margin-top: 15px;
	float: right;
	clear: both;
	padding-top: 50px;
	
}

section{
	height: 350px;
	width: 540px;
	background-color: #ebebeb;
	margin-top: 15px;


	position: absolute;
	float: left;
	clear: both;
	padding-top: 50px;

	

}

article{
	height: 50px;
	color: #ebebeb;
	background-color: #777;
	width: 505px;
	height: 250px;
	position: relative;
	margin-top: 50px;
	margin-bottom: 15px;
	margin-right: 150px;
	padding-top: 50px;
	margin-left: 20px;
	top: 50px;
	
}

h3
{	
	height: 100px;
	margin-top: 10px;
	margin-bottom: 15px;
	background-color: #ebebeb;
	bottom:  150px;
	
	left:20px;
	width: 450px;
	height: 50px;
	position: relative;
	margin-left: 20px;
	padding-top: 10px;
	
}


p{
	height: 100px;	
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #ebebeb;
	bottom:  150px;
	left: 20px;
	width: 450px;
	height: 50px;
	position: relative;
	margin-left: 20px;
	padding-top: 5px;



}

footer{
	background-color: #ebebeb;
	height: 60px;
	width: auto;
	padding-top: 25px;
	bottom: 70px;
	position: relative;
	

}
